@media screen and (max-width: 480px) {
	.caixa, .principal, .titulo-principal .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1, h2 {
		text-align: center;
	}

	nav {
		position: static;
	}


    .produtos li{
        display: block;
		width: 100%;
        margin: 10px 0;
    }

@media(min-width: 834px) {

    .videos__container {
        padding-left: 10%;
        padding-right: 10%;
    }
}
    
@media(min-width: 1440px) {
    .videos__item {
        width: 288px;
    }
    }
}